.h100{
    display: flex;
    justify-content: baseline;
    position:sticky ;
    height: 23vh;
    margin-top: 24vh;
    
}
p{
    font-size: large;
    padding-top: 20px;
}
.bg-custom{
    background-color: #312295;
}

