.h100{
    display: flex;
    justify-content: baseline;
    position:sticky ;
    height: 10vh;
    margin-top: 20vh;
    
}
p{
    margin-left: 30px;
    font-size: large;
    padding-top: 20px;
}
.bg-custom{
    background-color: #312295;
}

